@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: "Roboto", sans-serif;
}

:root{
    --white-color: #ffffff;
    --smoke-color: #eeeeee;
    
    --blue-color-400: #0c39ff;
    --blue-color-600: #0023be;
    --blue-color-700: #00308a;
    --blue-color-900: #050046;
    --blue-color-950: #08071d;
    --red-color:#db0049;

    /* transparence */

    --smoke-T918:#eeeeeef5;
    --smoke-T341:#f0f0f06b;
    --darkblue-T122:#08071b1f;
    --darkblue-T055:#08071b0e;
    --darkblue-T643: #121216a4;
}


img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    overflow: hidden;
}

h1,h2,h3{
    color: var(--blue-color-950);
}


/*######## HERO STYLE #########*/
  

.about-hero {
    background-color: var(--blue-color-900);
    height: 20em;
}
.about-hero .hero {
    text-align: center;
    color: #ffffff;
    padding: 5em 10px;
}
.about-hero .hero h1 {
    font-size: 40px;
    color: var(--white-color);
}
  

/*########## ABOUT MAIN STYLE ##########*/

.about-content{
    width: 85%;
    margin: 5em auto;
    display: grid;
    grid-template-columns: 0.7fr 1fr;
    column-gap: 7em;
}
.about-content .images{
    position: relative;
    height: 400px;
}
.about-content .images img:nth-child(1){
    border-radius: 10px;
}
.about-content .images img:nth-child(2){
    position:absolute;
    top: 45px;
    right: -80px;
    width: 180px;
    height: 220px;
    border: 3px solid var(--white-color);
    border-radius: 10px;
}
.about-content .images div:nth-child(3){
    display: flex;
    align-items: center;
    column-gap: 15px;
    border-radius: 5px;
    padding: 8px 25px;
    position: absolute;
    left: -2.5em;bottom: 2em;
    color: var(--white-color);
    background: var(--blue-color-600);
}
.about-content .images div:nth-child(3) p{
    color: #eeeeeeea;
}

/* offers style */

.offers small:nth-child(1){
    color: var(--darkblue-T643);
    font-size: 20px;
}
.offers h1:nth-child(2){
    font-size: 40px;
    margin-top: 5px;
}
.offers p:nth-child(3){
    margin: 15px 0;
    color: var(--darkblue-T643);
    line-height: 25px;
}
.offers .works div{
    display: flex;
    align-items: center;
    column-gap: 10px;
    line-height: 30px;
}
.offers .works div i{
    font-size: 20px;
    color: var(--blue-color-600);
}
.offers .admin-infos{
    display: flex;
    column-gap: 25px;
    margin-top: 20px;
}
.offers .admin-infos .infos{
    display: flex;
    column-gap: 5px;
}
.offers .admin-infos .infos .image{
    width: 50px;
    height: 50px;
}
.offers .admin-infos .infos .image img{
    border-radius: 50%;
    border: 2px solid var(--blue-color-600);
}
.offers .admin-infos .infos .name h2{
    font-size: 20px;
}
.offers .admin-infos .infos .name p{
    color: var(--darkblue-T643);
}
.offers .admin-infos button{
    border: none;
    width: 10em;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    color: var(--white-color);
    background: var(--blue-color-600);
}

/* end offers style */


/* all offers style */

.all-offers{
    width: 85%;
    margin: auto;
}
.all-offers .title{
    text-align: center;
}
.all-offers .title small{
    font-size: 15px;
    color: var(--darkblue-T643);
}
.all-offers .title h2{
    font-size: 30px;
}
.best-offers{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 15px;
    margin: 30px 0;
    background: var(--white-color);
}
.best-offers .offers{
    box-shadow: 0 5px 10px var(--darkblue-T122);
    border-radius: 10px;
    transition: 0.3s ease-in-out;
}
.best-offers .offers:hover{
    transform: scale(1.05);
}
.best-offers .offers h2{
    font-size: 20px;
}
.best-offers .offers .service{
    padding: 20px;
}
.best-offers .offers .service p{
    margin-top: 10px;
    color: var(--darkblue-T643);
}

.best-offers .offers .explore{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 0 20px;
}
.best-offers .offers .explore div:nth-child(1){
    display: flex;
    align-items: center;
    gap: 10px;
}
.best-offers .offers .explore button{
    padding: 15px;
    border: none;
    border-radius: 50%;
    cursor: pointer;
    background: var(--white-color);
    box-shadow: 0 7px 10px var(--darkblue-T122);
    transition: background 0.3s ease-in-out;
}
.best-offers .offers:hover .explore button{
    color: var(--white-color);
    background: var(--blue-color-600);
}
.best-offers .offers:hover .explore button:hover{
    background: var(--blue-color-400);
}

.best-offers .offers .explore div:nth-child(2){
    background: var(--blue-color-600    );
    width: 150px;
    height: 130px;
    border-top-left-radius: 95%;
    position: relative;
}
.best-offers .offers .explore svg{
    position: absolute;
    top: 40px;
    left: 2.8em;
}

.all-offers .expert{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
    margin: 30px 0;
}
.all-offers .expert p{
    padding: 15px 20px;
    border-radius: 5px;
    background: var(--smoke-T341);
    color: var(--darkblue-T643);
}
.all-offers .expert p b{
    color: var(--blue-color-950);
}
.all-offers .expert button{
    border: none;
    width: 10em;
    padding: 10px 15px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    border-radius: 5px;
    color: var(--white-color);
    background: var(--blue-color-600);
}
.all-offers .expert button:hover{
    background: var(--blue-color-700);
}

/* end all offers style */


/* Team member style */

.team{
    background: var(--smoke-T341);
}

.team .team-members{
    width: 85%;
    margin: auto;
    padding: 5em 0;
}
.team-members .title{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    text-align: center;
    margin: auto;
    width: 50%;
}
.team-members .title button{
    width: 130px;
    margin: auto;
    padding: 8px 15px;
    border: none;
    border-radius: 25px;
    box-shadow: 0 5px 10px var(--darkblue-T055);
    background: var(--white-color);
}
.team-members .title h1{
    font-size: clamp(30px, 30vw, 40px);
}
.team-members .title h1 strong{
    color: var(--red-color);
}
.team-members .title p{
    color: var(--darkblue-T643);
}


.members{
    display: grid;
    grid-template-columns: 320px;
    justify-content: center;
    margin-top: 40px;
}
.members .member{
    background: var(--white-color);
    border-radius: 10px;
    box-shadow: 0 5px 5px var(--darkblue-T055);
}
.members .member img{
    height: 60%;
    border-radius: 10px 10px 0 0;
}
.members .member .identity{
    padding: 80px 10px 10px 10px;
    position: relative;
}
.members .member .identity div:nth-child(1){
    background: var(--blue-color-700);
    color: var(--white-color);
    padding: 8px 12px;
    line-height: 30px;
    text-align: center;
    border-radius: 5px;
    position: absolute;
    top: -3em;
    left: 3.5em;
}
.members .member .identity div:nth-child(1) h2{
    color: var(--white-color);
}

.members .member .identity .media{
    display: flex;
    justify-content: center;
    column-gap: 20px;
    padding-bottom: 20px;
}
.members .member .identity .media i{
    padding: 10px;
    border-radius: 50%;
    border: 1px solid var(--smoke-T918);
    transition: background 0.2s ease-in-out;
}
.members .member .identity .media i:hover{
    padding: 11px;
    color: var(--white-color);
    background: var(--blue-color-600);
    border: none;
}



/* End Team member style */



/*########## END ABOUT MAIN STYLE ##########*/
 
  
  
  
  /*########## RESPONSIVE DESIGN ##########*/
  