@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{
    --WHITE-COLOR:#FFFFFF;
    --SOFT-SPEACH:#EEEEEE;
    --WHITE-SMOKE:#F5F5F8;
    --BLUE-COLOR:#004CD0;
    --CINDER-COLOR:#0e1932;
    --BLUE-ZODIAC-COLOR:#162251;
    --DARK-RIVER:#061731;
    --DARK-PEARL:#04122B;
    --CHANTAS-BLUE-COLOR:#215075;

    --width:85%;
    --max-width:1400px;
    --margin:0 auto;
}

html{
    scroll-behavior: smooth;
}


body{
    background: var(--DARK-PEARL);
}
h1,h2,h3{
    color:#d7e6ff;
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}
p, small, b{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    color: #e7efff;
}



/*################# 
   HEADER STYLE
#################*/

header{
    background: var(--DARK-PEARL);
}
header::before{
    content: "";
    position: absolute;
    right: 0;
    bottom: 50%;
    width: 0px;
    height: 0px;
    background:#004cd000 ;
    box-shadow: 0 0 200px 50px #004cd09c;
}
header::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 0px;
    height: 0px;
    background:#004cd000 ;
    box-shadow: 0 0 200px 50px #004cd09c;
}

header nav{
    width: 100%;
    padding: 20px 0;
    background: var(--DARK-PEARL);
    position: sticky;
    top: 0;
    z-index: 10;
}

header nav .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    width: var(--width);
    max-width: var(--max-width);
    margin: var(--margin);
}
.logo h1{
    color: transparent;
    background: url("../public/asserts/images/start/log.jpeg");
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    
    font-size: 40px; 
    font-weight: bold;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: inline-block;
}

header nav ul{
    display: flex;
    column-gap: 25px;
}
header nav ul a{
    color: #d7e6ff;
    font-weight: bold;
    text-transform: uppercase;
}
header nav ul a:hover{
    color: var(--BLUE-COLOR);
}

/* hero style */

.hero{
    text-align: center;
    margin-top: 100px;
    position: relative;
}
.hero .title{
    color: var(--WHITE-COLOR);
}
.hero .title h1{
    font-size: clamp(30px, 10vw, 50px);
    text-transform: uppercase;
    color: #d7e6ff;
}
.hero .title button{
    padding: 10px 5px;
    margin: 40px 0;
    border: none;
    width: 200px;
    border-radius: 25px;
    font-weight: bolder;
    font-size: clamp(17px, 20vw, 20px);
    background:#004cd0b4;
    color: var(--WHITE-COLOR);
    box-shadow: 0 10px 10px #004cd071;
    transition: background 0.5s ease-in-out;
    cursor: pointer;
}
.hero .title button:hover{
    background:  var(--BLUE-COLOR);
    transform: scale(1.1);
}

.hero .short-services{
    width: 73%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    background: #0b1f41ac;
    border-radius: 3px;
    box-shadow: 0 10px 15px #01081333;
    position: relative;
    bottom: -5em;
}
.hero .short-services div{
    flex-grow: 1;
    padding: 0 10px;
    margin: 20px 0;
    border-left: 1px solid #f9f9f933;
    cursor: pointer;
}
.hero .short-services div i{
    font-size: 40px;
    color: #e1e1e1;
}
.short-services div:nth-child(1){
    border: none;
}

.short-services div:hover{
    background: #0053b2;
    transform: scaleY(1.1);
    margin: 0 0;
    border-radius: 5px;
    color: var(--WHITE-COLOR) !important;
}


/*################# 
   HEADER STYLE
#################*/


/*################# 
   MAIN STYLE
#################*/


section{
    padding-top: 6em;
    background: var(--DARK-RIVER);
}

/* choose style */

.chooses{
    width: var(--width);
    max-width: var(--max-width);
    margin:5em auto;
}
.chooses .choose-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.chooses .choose-us div:last-child{
    width: 30em;
    height: 2px;
    margin: 7em auto;
    background: #64676d4a;
    position: relative;
}
.chooses .choose-us div:last-child small{
    width: 20px;
    height: 20px;
    border:1px solid #cbcfd696;
    border-radius: 50%;
    position: absolute;
    top: -9px;
    cursor: pointer;
}
.chooses .choose-us div:last-child 
small:hover{
    border: 1px solid #0f67ff;
    box-shadow:0 0 10px #0762ff;
}
.chooses .choose-us div:last-child 
small:hover p{
    color: #0762ff;
}
.chooses .choose-us div:last-child 
small:hover span{
    background: #0762ff;
    box-shadow:0 0 10px #0762ff;
}
.chooses .choose-us div:last-child 
small:nth-child(1){
    left: -6px;
}
.chooses .choose-us div:last-child 
small:nth-child(3){
    right: -6px;
}

.chooses .choose-us div:last-child 
small p{
    border-radius: 50%;
    position: absolute;
    top: -3em; 
    left: -30px;
    font-size: 17px;
}
.chooses .choose-us div:last-child 
small span{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #264985;
    box-shadow: 0 0 5px #949597ca;
    position: absolute;
    left: 30%;
    top: 25%;
}

.chooses .start-with{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    justify-content: space-between;
    gap: 5em;
}
.start-with div:nth-child(1){
    position: relative;
    height: 400px;
}
.start-with div:nth-child(1) img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 30px #04122b4a;
}
.start-with div:nth-child(1) img:nth-child(2){
    top: -40px;
    left: 2.5em;
}
.start-with div:nth-child(1) img:nth-child(3){
    bottom: -40px;
    right: -4.5em;
}
.start-with div:nth-child(2){
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}
.start-with div:nth-child(2) p{
    line-height: 1.5;  
}

/* end choose style */

/* project style */

.projects-container{
    background: var(--DARK-RIVER);
}

.projects{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 25px;
    width: var(--width);
    max-width: var(--max-width);
    margin: var(--margin);
    padding: 100px 0;
}
.projects .project-infos p{
    margin: 20px 0;
    color: #e4e4e4e2;
}
.projects .project-infos .team{
    display: flex;
    flex-direction: column;
}
.projects .our-projects{
    display: flex;
    justify-content: space-between;
    gap: 15px;
}
.projects .our-projects div{
    flex-basis: 200;
    height: 300px;
}
.projects .our-projects div img{
    flex-basis: 200;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}
.projects .our-projects div h2{
    margin: 10px 0;
}
.projects .our-projects div p{
    margin-bottom: 20px;
    color: #e4e4e4b4;
}
.projects .our-projects div i{
    padding: 5px 6px;
    background: #062d71;
    font-size: 20px;
    color: var(--WHITE-COLOR);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}
.projects .our-projects div i:hover{
    background: var(--BLUE-COLOR);
}

/* end project style */

/* services style */

.services{
    background: var(--DARK-PEARL);
}

.services .our-services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: var(--width);
    max-width: var(--max-width);
    margin: var(--margin);
    padding: 70px 0;
}
.services .our-services h2{
    color: var(--SOFT-SPEACH);
    align-self: center;
}
.services .our-services fieldset{
    padding: 15px 20px;
    border: 1px solid #324b7457;
    cursor: pointer;
}
.services .our-services fieldset:hover {
    color: var(--SOFT-SPEACH);
    border: 1px solid var(--SOFT-SPEACH);
}
.services .our-services fieldset:hover p,
.services .our-services fieldset:hover legend{
    color: var(--SOFT-SPEACH);
}

.services .our-services fieldset legend{
    font-size: 25px;
    padding: 0 10px;
    color: #e9e9e97a;
}
.services .our-services fieldset div h3{
    color: var(--SOFT-SPEACH);
}
.services .our-services fieldset div p{
    margin-top:10px;
    color: #324B74;
}

/* end services style */


/*################# 
   END MAIN STYLE
#################*/


/*################# 
   FOOTER STYLE
#################*/

footer{
    background: var(--CINDER-COLOR);
}

.footer-container{
    width: var(--width);
    max-width: var(--max-width);
    margin: var(--margin);
    padding: 70px 0;
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 15px;
}
.footer-container .logo p{
    padding: 10px 0;
}
.footer-container .logo .contacts{
    margin-top: 20px;
    display: flex;
    gap: 15px;
}
.footer-container .logo .contacts i{
    padding: 8px 10px;
    margin-left: 10x;
    color: var(--WHITE-COLOR);
    background: var(--BLUE-COLOR);
    border-radius: 50%;
}
.footer-container .logo .contacts i:hover{
    color: #ff00c3;
}
.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr 2fr;
    gap: 10px;
}
.footer-content div ul{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-content div ul a{
    color: #e7efff;
    font-weight: 500;
}
.footer-content div ul a:hover{
    color: #ffffff;
}

.footer-content div:last-child p{
    margin: 15px 0;
}
.footer-content form .input-email{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e7efff;
}
.footer-content form .input-email input{
    width: 100%;
    padding: 10px 5px;
    background: #e7efff;
    border: none;
}
.footer-content form .input-email i{
    padding: 8px 20px;
    font-size: 20px;
    color: var(--WHITE-COLOR);
    background: var(--BLUE-COLOR);
    cursor: pointer;
}
.footer-content form .input-email i:hover{
    background:#0c65ff;
}

.copyright{
    text-align: center;
    color: #e7efff;
    padding: 20px 0;
    border-top: 1px solid #e7efff40;
    margin: var(--margin);
    width: var(--width);
}

/*###################
   END FOOTER STYLE
#####################*/



/*################
   MEDIA QUERY
##################*/


@media screen and (max-width:900px) {
    .hero .short-services{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .chooses .start-with{
        gap: 2.3em;
    }
    .start-with div:nth-child(1) img:nth-child(2){
        top: -20px;
        left: 1.5em;
    }
    .start-with div:nth-child(1) img:nth-child(3){
        bottom: -20px;
        right: -2.7em;
    }
    .footer-container{
        grid-template-columns: 1fr;
        row-gap: 50px;
    }
}

@media screen and (max-width:800px) {
    header nav ul{
        display:none;
    }

    .chooses .start-with{
        grid-template-columns: 1fr;
    }
    .start-with div:nth-child(1){
        width: 60%;
        height: 300px;
        margin: auto;
    }
    .start-with div:nth-child(2){
        width: 100%;
        margin-left: 0;
        text-align: center;
    }.start-with div:nth-child(1) img:nth-child(2){
        top: 0;
        left: 0em;
    }
    .start-with div:nth-child(1) img:nth-child(3){
        bottom: 0;
        right: 0em;
    }



    .projects{
        grid-template-columns: 1fr;
    }
    .services .our-services{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:600px) {
    .chooses .choose-us div:last-child{
        width: 85%;
        margin: 7em auto;
    }

    .start-with div:nth-child(1){
        width: 100%;
    }
    

    .projects .our-projects{
        display: grid;
        grid-template-columns: 1fr;
    }


    .services .our-services{
        grid-template-columns: 1fr;
    }

    .footer-content{
        grid-template-columns: 1fr 1fr;
        row-gap: 30px;
    }
    
}


/*##################
   END MEDIA QUERY
####################*/