@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');


*{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

:root{

    --white-color: #ffffff;
    --smoke-color: #eeeeee;
    
    --blue-color-600: #352772;
    --blue-color-650:#2A1E5E;
    --blue-color-700: #171a50;
    --blue-color-900: #050046;
    --blue-color-950: #08071d;

    --black-color-700: #1D1540;
    --black-color-800:#101624;
    --black-color-900: #130B1A;

    --red-color:#db0049;

    /* transparence */

    --smoke-T918:#eeeeeef5;
    --smoke-T341:#f0f0f06b;
    --smoke-T082:#f0f0f015;
    --darkblue-T122:#08071b1f;
    --darkblue-T055:#08071b0e;
    --darkblue-T643: #121216a4;


    --width:85%;
    --max-width:1400px;
    --margin:0 auto;
}

html{
    scroll-behavior: smooth;
    transition:all 0.5s ease-in-out;
}


body{
    background: var(--white-color);
}
h1,h2,h3{
    color: var(--blue-color-950);
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
}
p, small, b{
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-optical-sizing: auto;
    color: #00050ee8;
}



/*################# 
   HEADER STYLE
#################*/

header{
    background: #111724;
    height: 100vh;
}
header::before{
    content: "";
    position: absolute;
    inset: 50%;
    width: 0px;
    height: 0px;
    background: var(--blue-color-600);
    z-index: 10;
    box-shadow: 0 0 300px 50px #623ffc;
}
header::after{
    content: "";
    position: absolute;
    left: 0;
    bottom: 50%;
    width: 0px;
    height: 0px;
    background:var(--blue-color-600);
    box-shadow: 0 0 200px 50px #783eff9c;
}

header nav{
    padding: 20px 0;
    width: 100%;
    z-index: 50;
}

header nav .nav-bar{
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    padding: 15px 10px;
    border-radius: 50px;
    width: var(--width);
    max-width: var(--max-width);
    margin: var(--margin);
    background: var(--DARK-PEARL);
}
.logo h1{
    color: transparent;
    background: url("../public/asserts/images/start/log.jpeg");
    background-clip: text;
    -webkit-background-clip: text; 
    -webkit-text-fill-color: transparent;
    
    font-size: 40px; 
    font-weight: bold;
    
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    
    display: inline-block;
}

header nav ul{
    display: flex;
    column-gap: 25px;
}
header nav ul a{
    color: #d7e6ff;
    font-weight: bold;
    text-transform: uppercase;
}
header nav ul a:hover{
    color: var(--BLUE-COLOR);
}

.responsive-bar{
    display: none;
    font-size: 25px;
    color: var(--SOFT-SPEACH);
    cursor: pointer;
}
.responsive-bar:hover{
    color: #ff9ee2;
}

/* hero style */

.hero{
    width: var(--width);
    margin: 40px auto 0 auto;
    display: flex;
    align-items: center;
    gap:20px 5em;
    position: relative;
}
.hero .description{
    width: 60%;
    color: var(--WHITE-COLOR);
}
.hero .description button{
    padding: 12px 20px;
    border-radius: 25px;
    color: #d7e6ff;
    background: var(--black-color-800);
    border: 1px solid var(--smoke-T082);
}
.hero .description h1{
    margin-top: 10px;
    font-size: clamp(25px, 5vw, 40px);
    text-transform: uppercase;
    color: #d7e6ff;
    transition: opacity 1s ease-in-out;
    z-index: 20;
}
.hero .description h1 strong{
    font-size: clamp(25px, 5vw, 40px);
    color: #7c00f0;
}
.hero .description p{
    color: #d7e6ff;
    margin: 25px 0;
}

.hero form .input-email{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #191C31;
    border: 1px solid var(--smoke-T082);
    margin-top: 2em;
    width: 23em;
}
.hero form .input-email input{
    width: 18em;
    padding: 13px 5px;
    color: var(--smoke-T918);
    background: #191C31;
    font-weight: bold;
    font-size: 15px;
    border: none;
}
.hero form .input-email b{
    padding: 8px 20px;
    white-space: nowrap;
    font-size: 20px;
    font-weight: bold;
    color: var(--black-color);
    background: var(--white-color);
    cursor: pointer;
}
.hero form .input-email b:hover{
    background: var(--smoke-color);
}
.hero .description  small:last-child{
    display: inline-block;
    color: var(--blue-color-600);
    margin-top: 15px;
}
.hero .description  small:last-child b{
    color: #d7e6ff;
}


.hero .example{
    position: relative;
    box-shadow: 0 0 200px #1F2547;
}
.hero .example .device{
    width: 17em;
    height: 10em;
    border: 3px solid #6C749B;
    border-bottom: none;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.hero .example .device div{
    position: absolute;
}

.hero .example .device .div:nth-child(1){
    border-bottom: 8px solid #9AA2ED;
    width: 110%;
    left: -15px;
    bottom: -7px;
    border-radius: 0 0 10px 10px;
}
.hero .example .device div:nth-child(2) div{
    width: 80px;
    height: 80px;
    border: 1px solid var(--smoke-T082);
    background: #20283E;
    border-radius: 15px;
    transition: top 1s ease-in-out;
}
.hero .example .device div:nth-child(2) div i{
    color: var(--white-color);
    position: relative;
    left: 20%;
    top: 8%;
    font-size: 50px;
}
.device .git{
    left: 15em;
    top: -3em;
    animation: float1 5s ease-in-out infinite;
}
.device .world{
    left: 5em;
    top: -7em;
    width: 100px;
    height: 100px;
    animation: float 5s ease-in-out infinite;
}
.device .glass{
    left: -2.5em;
    top: -3.5em;
    animation: float 5s ease-in-out infinite;
}

/* animation style */

@keyframes float {
    0%{
        transform: translateY(0) rotate(-4deg);
    }
    50%{
        transform: translateY(-10px) rotate(5deg);
    }
    100%{
        transform: translateY(0) rotate(-4deg);
    }
}

@keyframes float1 {
    0%{
        transform: translateY(0) rotate(-1deg);
    }
    50%{
        transform: translateY(-10px) rotate(-15deg);
    }
    100%{
        transform: translateY(0) rotate(-1deg);
    }
}

.hero .title .h1.opacity{
    opacity: 1;
}

.device .git.top1{
    top: 3em;
}
.device .world.top2{
    top: 1.5em;
}
.device .glass.top3{
    top: 3.5em;
}

/* end animation style */


/*################# 
   HEADER STYLE
#################*/


/*################# 
   MAIN STYLE
#################*/


section{
    padding-top: 6em;
    background: var(--white-color);
}

/* choose style */

.chooses{
    width: var(--width);
    max-width: var(--max-width);
    margin:5em auto;
}
.chooses .choose-us{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}
.chooses .choose-us .ex{
    width: 20em;
    height: 2px;
    margin: 7em auto;
    background: #64676d4a;
    position: relative;
    transition: width 0.5s ease-in-out;
}
.chooses .choose-us .ex small{
    width: 20px;
    height: 20px;
    border:1px solid #cbcfd696;
    border-radius: 50%;
    position: absolute;
    top: -9px;
    cursor: pointer;
}
.chooses .choose-us .ex small:hover{
    border: 1px solid #0f67ff;
    box-shadow:0 0 10px #0762ff;
}
.chooses .choose-us .exsmall:hover p{
    color: #0762ff;
}
.chooses .choose-us .ex small:hover span{
    background: #0762ff;
    box-shadow:0 0 10px #0762ff;
}
.chooses .choose-us .ex small:nth-child(1){
    left: -6px;
}
.chooses .choose-us .ex small:nth-child(3){
    right: -6px;
}

.chooses .choose-us .ex small p{
    border-radius: 50%;
    position: absolute;
    top: -3em; 
    left: -30px;
    font-size: 17px;
}
.chooses .choose-us .ex small span{
    width: 8px;
    height: 8px;
    border-radius: 50%;
    background: #264985;
    box-shadow: 0 0 5px #949597ca;
    position: absolute;
    left: 30%;
    top: 25%;
}

.chooses .start-with{
    display: grid;
    grid-template-columns: 0.8fr 1fr;
    align-items: center;
    justify-content: space-between;
    gap: 5em;
    margin-top: 5em;
    transition: margin-top 0.5s ease-in-out;
}
.start-with div:nth-child(1){
    position: relative;
    height: 300px;
}
.start-with div:nth-child(1) img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 0 30px #04122b4a;
}
.start-with div:nth-child(1) img:nth-child(2){
    top: -40px;
    left: 2.5em;
}
.start-with div:nth-child(1) img:nth-child(3){
    bottom: -40px;
    right: -4.5em;
}
.start-with div:nth-child(2){
    margin-left: 25px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 15px;
}
.start-with div:nth-child(2) p{
    line-height: 1.5;  
    color: var(--CINDER-COLOR);
}

/* end choose style */


/* animation style */

.chooses .choose-us .ex.width{
    width: 30em;
}
.chooses .start-with.mt{
    margin-top: 0;
}

/* end animation style */


/* project style */

.projects-container{
    background: var(--white-color);
}

.projects{
    display: grid;
    grid-template-columns: 1fr 2fr;
    gap: 30px;
    width: var(--width);
    max-width: var(--max-width);
    margin: var(--margin);
    padding: 100px 0;
}
.projects .project-infos{
    margin-top: -3em;
    transition: margin 0.5s ease-in-out;
}
.projects .project-infos p{
    margin: 20px 0;
}
.projects .project-infos .team{
    display: flex;
    flex-direction: column;
}
.projects .our-projects{
    display: flex;
    justify-content: space-between;
    gap: 50px 15px;
}
.projects .our-projects div{
    flex-basis: 200;
    height: 300px;
}
.projects .our-projects .one{
    margin-top: 3em;
    transition: margin 0.5s ease-in-out;
}
.projects .our-projects .two{
    margin-top: -3em;
    transition: margin 0.5s ease-in-out;
}
.projects .our-projects div img{
    flex-basis: 200;
    width: 100%;
    height: 150px;
    object-fit: cover;
    border-radius: 5px;
}
.projects .our-projects div h2{
    margin: 10px 0;
}
.projects .our-projects div p{
    margin-bottom: 20px;
    color: #e4e4e4b4;
}
.projects .our-projects div i{
    padding: 5px 6px;
    background: #062d71;
    font-size: 20px;
    color: var(--WHITE-COLOR);
    border-radius: 50%;
    cursor: pointer;
    transition: background 0.5s ease-in-out;
}
.projects .our-projects div i:hover{
    background: var(--BLUE-COLOR);
}

/* end project style */


/* animation style */

.projects .project-infos.mt{
    margin-top: 0;
}
.projects .our-projects .one.mt1{
    margin-top: 0;
}
.projects .our-projects .two.mt2{
    margin-top: 0;
}

/* end animation style */

/* services style */

.services{
    background: var(--DARK-PEARL);
}

.services .our-services{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    width: var(--width);
    max-width: var(--max-width);
    margin: var(--margin);
    padding: 70px 0;
}
.services .our-services .text{
    color: var(--SOFT-SPEACH);
    align-self: center;
}
.services .our-services fieldset{
    padding: 15px 20px;
    border: 1px solid #324b7457;
    cursor: pointer;
}
.services .our-services fieldset:hover {
    color: var(--SOFT-SPEACH);
    border: 1px solid var(--SOFT-SPEACH);
}
.services .our-services fieldset:hover p,
.services .our-services fieldset:hover legend{
    color: var(--SOFT-SPEACH);
}

.services .our-services fieldset legend{
    font-size: 25px;
    padding: 0 10px;
    color: #e9e9e97a;
}
.services .our-services fieldset div h3{
    color: var(--SOFT-SPEACH);
}
.services .our-services fieldset div p{
    margin-top:10px;
    color: #324B74;
}

/* end services style */


/*################# 
   END MAIN STYLE
#################*/


/*################# 
   FOOTER STYLE
#################*/

footer{
    background: var(--blue-color-950);
}

.footer-container{
    width: var(--width);
    max-width: var(--max-width);
    margin: var(--margin);
    padding: 70px 0;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 50px 25px;
}
.footer-container .logo p{
    padding: 10px 0;
    color: #d7e6ff;
}
.footer-container .logo .contacts{
    margin-top: 20px;
    display: flex;
    gap: 15px;
}
.footer-container .logo .contacts b{
    color: #d7e6ff;
}
.footer-container .logo .contacts i{
    padding: 8px 10px;
    margin-left: 10x;
    color: var(--white-color);
    background: var(--blue-color-600);
    border-radius: 50%;
}
.footer-container .logo .contacts i:hover{
    color: #ff00c3;
}
.footer-content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:30px 10px;
}
.footer-content div ul{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}
.footer-content div ul a{
    color: #e7efff;
    font-weight: 500;
}
.footer-content div ul a:hover{
    color: #ffffff;
}

.footer-container div:last-child p{
    margin: 15px 0;
    color: #e7efff;
}
.footer-container form .input-email{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #e7efff;
}
.footer-container form .input-email input{
    width: 100%;
    padding: 10px 5px;
    background: #e7efff;
    font-weight: bold;
    font-size: 20px;
    border: none;
}
.footer-container form .input-email i{
    padding: 10px 20px;
    font-size: 20px;
    color: var(--WHITE-COLOR);
    background: var(--BLUE-COLOR);
    cursor: pointer;
}
.footer-container form .input-email i:hover{
    background:#0c65ff;
}

.copyright{
    text-align: center;
    color: #e7efff;
    padding: 20px 0;
    border-top: 1px solid #e7efff40;
    margin: var(--margin);
    width: var(--width);
}

/*###################
   END FOOTER STYLE
#####################*/



/*################
   MEDIA QUERY
##################*/


@media screen and (max-width:900px) {
    .hero .short-services{
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .chooses .start-with{
        gap: 2.3em;
    }
    .start-with div:nth-child(1) img:nth-child(2){
        top: -20px;
        left: 1.5em;
    }
    .start-with div:nth-child(1) img:nth-child(3){
        bottom: -20px;
        right: -2.7em;
    }
    .footer-container{
        grid-template-columns: 1fr;
    }
}

@media screen and (max-width:800px) {
    header nav ul{
        width: 100%;
        display: none;
        flex-direction: column;
        row-gap: 15px;
        background: #04122bbe;
        padding: 15px 0;
        position:absolute;
        top: 5.4em;
        left: 0;
        z-index: 50;
    }
    header nav ul li{
        border-bottom: 1px solid #e0e0e02f;
        padding: 20px;
    }
    .responsive-bar{
        display: block;
    }

    .chooses .start-with{
        grid-template-columns: 1fr;
    }
    .start-with div:nth-child(1){
        width: 60%;
        margin: auto;
    }
    .start-with div:nth-child(2){
        width: 100%;
        margin-left: 0;
        text-align: center;
    }.start-with div:nth-child(1) img:nth-child(2){
        top: 0;
        left: 0em;
    }
    .start-with div:nth-child(1) img:nth-child(3){
        bottom: 0;
        right: 0em;
    }



    .projects{
        grid-template-columns: 1fr;
        border-top: 1px solid rgba(230, 230, 230, 0.226);
    }
    .services .our-services{
        grid-template-columns: 1fr 1fr;
    }
}

@media screen and (max-width:600px) {
    .chooses .choose-us .ex.width{
        width: 85%;
        margin: 7em auto;
    }

    .start-with div:nth-child(1){
        width: 100%;
    }
    

    .projects .our-projects{
        display: grid;
        grid-template-columns: 1fr;
    }


    .services .our-services{
        grid-template-columns: 1fr;
    }

    .footer-content{
        grid-template-columns: 1fr 1fr;
    }
    
}


/*##################
   END MEDIA QUERY
####################*/